.navBar {
  box-shadow: 5px 5px 15px black;
  background-color: #1d1d1d;
}

.coLor {
  color: white !important;
}
.search {
  width: 25%;
  height: 3%;
  font-size: 0.85em;
  font-weight: 700;
  color: #919191;
  border: 2px solid #333;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  padding: 4px 30px;
  background: #1d1d1d no-repeat 9px 8px;
}
.padding-0 {
  padding: 0 !important;
}
